<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinero</title>
     
     <link rel="stylesheet" href="\css\acceuil.css" />
     <!--<link rel="shortcut icon" href="3D payment deadline.jpg" /> -->
     <link rel="icon" href="Images/dinero1.png" type="image/x-icon">
     
</head>



<body>
    <header>
      <a href="#">
        <img class="logoDinero" alt="Dinero logo" src="Images/dinero.png" />
      </a>
        <nav>
          <label for="check" id="check-btn">
            <i class="fas fa-bars"></i>
          <!--</label>
          <li id="Dinero"><a href="#">DINERO</a></li>-->
          <ul>
            
            <li id="About"><a href="#">About Us</a></li>
            <li><a href="#">Tracking</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </nav>
        <!---->
        <div class="intro1">
            <h1>
              Master your <br/>
              finances <br/>
              with ease
            </h1>
            <p>Discover a seamless approach to managing your <br/>
              income with our intuitive web app. From budgeting to <br/>
              savings goals, take charge of your finances and pave <br/>
             the way towards a brighter financial future
            </p>
            <img src="Images/3D payment deadline.png" alt="logo" />
            <img src="Images/Ellipse/Ellipse 1.png" alt="logo" class="ellipse1" />
            <img src="Images/Ellipse/Ellipse 1.png" alt="logo" class="ellipse2" />
            <div  id="containerSU">
              <a href="/signUp">
              <button class="containerSU" id="signUp">SIGN UP</button>
            </a>
            </div>
            <div  id="containerLO">
              <a href="/login" class="containerLO">
                <button id="login" class="containerL">LOGIN</button>
              </a>
            </div>
        </div>
        
        <div class="finance" id="financep">
          <h2>
            Let's Simplify Your  <br/>
            Finances with  <br/>
            Effortless Income
          </h2>
          <p class="financeP">Explore how our platform simplifies financial tracking. <br/>
            Effortlessly monitor your income, expenses, budgets,  <br/>
            investments, and debts, all in one place, empowering <br/>
            you to take control of your finances with ease.
          </p>
          <img  src="Images/Image (1).png" alt="logo" class="financeImg"/>
          <img src="Images/Ellipse 2.png" alt="logo" class="ellipse3" />
      </div>  

      <div class="discover">
        <h3>
          Discover Your  <br/>
          Financial Destiny and  <br/>
          let’s Achieve Your <br/>
          Goals together!!
        </h3>
        <p class="discoverP">Through our app, we facilitate goal-setting by  <br/>
          providing intuitive tools to define and track your  <br/>
          financial objectives. Receive timely alerts to keep you <br/>
          on track and celebrate your milestones with symbolic <br/>
          rewards upon achieving your goals !
        </p>
        <img  src="Images/Image (2).png" alt="logo" class="discoverImg"/>
        <img src="Images/Ellipse 2.png" alt="logo" class="ellipse4" />
    </div> 

    <section class="section-testimonials" id="testimonials">
      <div class="testimonials-container">
        <span class="subheading">Testimonials</span>
        <h4 class="heading-secondary">Read what others<br/> have to say </h4>

        <div class="testimonials">
          <figure class="testimonial">
            <img
              class="EmilyImg"
              alt="Photo of customer Emily Williams"
              src="Images/customers/Emily Williams.png"
            />
            <blockquote class="EmilyTestimonial">
             I can't praise this app enough! It's <br/>
             incredibly user-friendly and has <br/>
             revolutionized the way I manage my <br/>
             finances. The goal-setting feature <br/>
             helped me prioritize my financial <br/>
             objectives, and the alerts ensure I stay<br/> 
             on track. Achieving my goals feels <br/>
             even more rewarding with the symbolic <br/>
             rewards. Thank you for creating such a <br/>
             fantastic tool!
            </blockquote>
            <p class="Customer1"> Emily Williams</p>
            <img src="Images/customers/Rectangle.png" alt="logo" class="rectangle1" />
          </figure>

          <figure class="testimonial">
            <img
              class="MichaelImg"
              alt="Photo of customer Michael Johnson"
              src="Images/customers/Michael Johnson.png"
            />
            <blockquote class="MichaelTestimonial">
              As someone who's always struggled <br/>
              with managing finances, this app has <br/>
              been a lifesaver. It helped me set clear <br/>
              financial goals and provided valuable <br/>
              insights into my spending habits. The <br/>
              alerts feature is especially helpful in <br/>
              keeping me disciplined, and the <br/>
              symbolic rewards add an extra layer of <br/>
              motivation. Highly recommend it!
            </blockquote>
            <p class="Customer2">Michael Johnson</p>
            <img src="Images/customers/Rectangle.png" alt="logo" class="rectangle2" />
          </figure>

          <figure class="testimonial">
            <img class="JohnImg" alt="Photo of customer John Smith"
              src="Images/customers/John Smith.png"
            />
            <blockquote class="JohnTestimonial">
              I've been using this app for a few <br/>
              months now, and it's been a game- <br/>
              changer for me. Setting financial goals <br/>
              was never easier, and the alerts keep <br/>
              me accountable. I recently achieved <br/>
              one of my goals, and receiving the <br/>
              symbolic reward was such a <br/>
              motivating experience!
            </blockquote>
            <p class="Customer3">John Smith</p>
            <img src="Images/customers/Rectangle.png" alt="logo" class="rectangle3" />
          </figure>

          
        </div>
      </div>

      <div class="download">
        <h5 class="head2">Are you ready?</h5>
        <p class="subhead2">Transform your finances <br/>
          today with our app
        </p>
        <img src="Images/Rectangle 4.png" alt="logo" class="rectangle4"/>
        
        <div id="containerD">
          <button class="containerD" id="Download">DOWNLOAD</button>
        </div>
        
    </div>
    </header>
  
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img class="logo" alt="Dinero logo" src="Images/dinero.png" />
            <img src="Images/download section.png" alt="logo" class="DOWN"/>
          </a>

          <ul class="social-links">
            <li>
              <a class="footer-link" href="#">
              <ion-icon class="social-icon" name="logo-instagram"></ion-icon></a>
            </li>
            <li>
              <a class="footer-link" href="#">
              <ion-icon class="social-icon" name="logo-facebook"></ion-icon></a>
            </li>
            <li>
              <a class="footer-link" href="#">
              <ion-icon class="social-icon" name="logo-twitter"></ion-icon></a>
            </li>
          </ul>
        </div>

        <div class="address-col">
          <p class="footer-heading1">Contact us</p>
          <address class="contacts">
            <p class="address"> Address</p>
            <p>
              <a class="phone" >PHONE</a><br />
              <a class="mail" href="mailto:hello@dinero.com">EMAIL</a>
            </p>
          </address>
        </div>

        <nav class="nav-col">
          <p class="footer-heading2">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-linkCREATE" href="/signUp">Create account</a></li>
            <li><a class="footer-linkSIGN" href="/login">Sign in</a></li>
            <li><a class="footer-linkIOS" href="#">iOS app</a></li>
            <li><a class="footer-linkAND" href="#">Android app</a></li>
          </ul>
        </nav>

        <nav class="nav-col">
          <p class="footer-heading3">Company</p>
          <ul class="footer-nav">
            <li><a class="footer-linkABOUT" href="#">About DINERO</a></li>
            <li><a class="footer-linkFOR" href="#">For Business</a></li>
            <li><a class="footer-linkP" href="#">partners</a></li>
            <li><a class="footer-linkC" href="#">Careers</a></li>
          </ul>
        </nav>

        <nav class="nav-col">
          <p class="footer-heading4">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-linkH" href="#">Help center</a></li>
            <li><a class="footer-linkPR" href="#">Privacy & terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>   
    
</body>
</html>