<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgets</title>
     
     <link rel="stylesheet" href="/css/FoodBudget.css" />
     <link rel="icon" href="Images/dinero1.png" type="image/x-icon">
     
</head>

<body>
    <img src="Images/App nav/pannelRectangle.png" alt="panel" class="pannel"> 
    <!--<img src="Images/App nav/shadow.png"  alt="shadow" class="shadow">-->
    <nav class="panel">
        <a href="/homePage">  <img src="Images/App nav/home.png"  alt="home" class="home"></a>
        <a href="/transactions">  <img src="Images/App nav/transactions.png"  alt="transactions" class="transactions"> </a>
        <a href="/budget">  <img src="Images/App nav/Budget.png"  alt="budget" class="budget"></a>
        <a href="/goal">  <img src="Images/App nav/goal.png"  alt="goal" class="goal"></a>
        <a href="/bill">  <img src="Images/App nav/bills.png"  alt="bill" class="bill"> </a>
        <a href="/dashboard">  <img src="Images/App nav/dashboard.png"  alt="dashboard" class="dashboard"> </a>
        <a href="/profile">  <img src="Images/App nav/Profile.png"  alt="user" class="user"> </a>
        <a href="/settings">  <img src="Images/App nav/setting.png"  alt="settings" class="settings"></a>    
        <a href="/">  <img src="Images/App nav/logout.png"  alt="logout" class="logout"> </a>
       
    </nav>
    <header>
      <img src="Images/Interfaces/bill/ElecBill.png" alt="trans" class="trans">
      <img src="Images/Interfaces/transactions before/button.png" alt="trans" class="box">
    
    </header>
</body>
