<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="icon" href="Images/dinero1.png" type="image/x-icon">
    <title>Login</title>


</head>
<body>
<form action="/login" method="post">
    
    <label class="mail" >EMAIL</label>
    <input type="email" class="mailInput" name="email">
    <label class="password" >Password</label>
    <input type="password" class="passwordInput" name="password">
    <button type="submit">Login</button>
    
</form>

<div class="container">
    <h1>Welcome !</h1>
    <p class="forget"><a href="#">Forgot password?</a></p>
    <p class="sign">Don't have an account ? <a href="/signUp" class="sup">SIGN UP HERE</a></p>
    <img src="Images/blobs.png" alt="logo" class="blobs" />
    <img src="Images/Rectangle 33.png" alt="logo" class="whiteREctangle" /> 
    <img src="Images/Your Financial Freedom Begins.png" alt="logo" class="slogan" /> 
    <img src="Images/sign_up-removebg-preview.png" alt="logo" class="pic" /> 

</div>
</body>
</html>