<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
     
     <link rel="stylesheet" href="/css/newAccount.css" />
     <link rel="icon" href="Images/dinero1.png" type="image/x-icon">
     
</head>

<body>
    <img src="Images/App nav/pannelRectangle.png" alt="panel" class="pannel"> 
    <!--<img src="Images/App nav/shadow.png"  alt="shadow" class="shadow">-->
    <nav class="panel">
        <a href="/homePage">  <img src="Images/App nav/home.png"  alt="home" class="home"></a>
        <a href="/transactions">  <img src="Images/App nav/transactions.png"  alt="transactions" class="transactions"> </a>
        <a href="/budget">  <img src="Images/App nav/Budget.png"  alt="budget" class="budget"></a>
        <a href="/goal">  <img src="Images/App nav/goal.png"  alt="goal" class="goal"></a>
        <a href="/bill">  <img src="Images/App nav/bills.png"  alt="bill" class="bill"> </a>
        <a href="/dashboard">  <img src="Images/App nav/dashboard.png"  alt="dashboard" class="dashboard"> </a>
        <a href="/profile">  <img src="Images/App nav/Profile.png"  alt="user" class="user"> </a>
        <a href="/settings">  <img src="Images/App nav/setting.png"  alt="settings" class="settings"></a>    
        <a href="/">  <img src="Images/App nav/logout.png"  alt="logout" class="logout"> </a>
       
    </nav>
    <header>
       <!--  <div class="panel">
            <img src="Images/panel/pannel1.png" alt="panel" class="pannel">
            <img src="Images/panel/bar chart.png"  alt="bar" class="barchart">
            <img src="Images/panel/clipboard.png"  alt="clip" class="clipboard">
            <img src="Images/panel/home.png"  alt="home" class="home">
            <img src="Images/panel/justice scale.png"  alt="scale" class="scale">
            <img src="Images/panel/setting 2.png"  alt="settings" class="settings">
            <img src="Images/panel/user.png"  alt="user" class="user"> 

        </div> -->
        <!--<div  id="cashwallet">
            <img src="Images/cash wallet/VectorHome.png"  alt="vector" class="vectorWallet">
            <img src="Images/cash wallet/wallet-6380821-5299182 1.png"  alt="wallet" class="wallet">
            <img src="Images/cash wallet/Rectangle 36.png"  alt="cadre" class="rectangleWAllet">
            <h1>cash wallet </h1>
            <p class="walletMoney"> 0.00 tnd</p>
        </div>
        <div id="bank">
            <img src="Images/bank/Bank.png"  alt="icon" class="bank"   >
            <img src="Images/bank/VectorHome2.png"  alt="vector" class="vectorbank">
            <img src="Images/bank/Rectangle 39.png"  alt="cadre" class="rectangleBank">
            <button class="NewWallet">Add a new wallet</button>
            <button class="bankacc">add a bank account</button>
        </div>
        <div class="overview">
            <h2>overview</h2>
            <img src="Images/overview/Rectangle 423 (3).png"  alt="vector" class="vectorOverView">
            <img src="Images/overview/right arrow 5.png"  alt="vector" class="arrowRight">
            <img src="Images/overview/left arrow 5.png"  alt="vector" class="arrowLeft">
            <img src="Images/overview/Rectangle 424.png"  alt="vector" class="rectangleOverview">
            <img src="Images/overview/calendar.png"  alt="calendar" class="calendar">
            <p class="date">May/1/2024  - May/30/2024</p>
            <p class="balance">total balance</p>
            <p class="numbalance">0.00 TND</p>
            <p class="change">total period change</p>
            <p class="numchange">0.00 TND</p>
            <p class="expense">total period expenses</p>
            <p class="numexpense">0.00 TND</p>
            <p class="income">total period income</p>
            <p class="numincome">0.00 TND</p>
        </div>
        <div class="digram">
            <img src="Images/graph/Group 82.png" alt="line" class="graph"/>
        </div>-->
        <div class="new">
            <!--<img src="Images/Interfaces/budget/Budget.png" alt="trans" class="trans">-->
            <img src="Images/Interfaces/newAccount/more about you.png" alt="trans" class="box">
            <img src="Images/Interfaces/newAccount/income.png" alt="trans" class="atext">
            <img src="Images/Interfaces/newAccount/gender.png" alt="trans" class="ntext">
            <img src="Images/Interfaces/newAccount/jobtitle.png" alt="trans" class="ntext2">
            <img src="Images/Interfaces/newAccount/tracking.png" alt="trans" class="catt">
            <img src="Images/Interfaces/newAccount/goal.png" alt="trans" class="catt2">
             <a href="/homePage" ><button >submit</button></a>
        </div>
    </header>
    <input type="number" class="amount" name="amount" step="any">
    
    <input type="text" class="name" pattern="(female|male)" name="text" >
    <input type="text" class="name2" pattern="(female|male)" name="text" >
    <input type="text" class="cat" name="cat">
    <input type="text" class="cat2" name="cat">
</body>
