<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/signUp.css" />
    <link rel="icon" href="Images/dinero1.png" type="image/x-icon">
    
      
</head>

<body>
    <form action="/signUp" method="post"> 
        <h1>Create account</h1>
        <label class="firstname" >First Name</label>
        <input type="text" class="FnameInput" name="firstName">
        <label class="lastname">Last Name</label>
        <input type="text" class="LnameInput" name="lastName">
        <label class="mail">EMAIL</label>
        <input type="email" class="mailInput" name="email">
        <label class="password">Password</label>
        <input type="password" class="passwordInput" name="password">
        <button class="create" type="submit">Create Account</button>
        <p class="sign">Already have an account ? <a href="/login" class="log" >Login</a></p>
        <img src="Images/blobs.png" alt="logo" class="blobs" />
        <img src="Images/Line 1.png" alt="line" class="line1">
        <img src="Images/Line 2.png" alt="line" class="line2">
        <img src="Images/Rectangle 33.png" alt="logo" class="whiteREctangle" /> 
        <img src="Images/Your Financial Freedom Begins.png" alt="logo" class="slogan" /> 
        <img src="Images/sign_up-removebg-preview.png" alt="logo" class="pic" /> 
        <p class="or">or</p>
        <button class="fcb">sign up with Facebook</button>
        <img src="Images/Facebook.png" alt="facebook logo" class="fcbicon"/>
        <button class="mailButton">sign up with email</button>
        <img src="Images/Gmail.png" alt="gmail logo" class="gmicon" />
    </form>
</body>