@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: black;
    justify-content: center;
    
}

.panel {
position: absolute;
justify-items: center;
align-items: center;
top: 20px; left: 0; bottom: 0; right: 0;

}

.pannel{
    position: absolute;
    width: auto;
    height: 100vh;
    display: block;
    top: 20px;
    left: auto;
    flex-direction: column;
    gap: 7rem;
}

/*nav {
    position: absolute;
    justify-items: center;
    left: 2.3%;
    top: 13%;
    display: flex;
    flex-direction: column;
    width: 60px; 
    padding: 0px;
    
/*

nav a {
    padding: 10px;
    margin: 4px 10;
    border-radius: 10px;
    transition: background-color 0.3s;
}
}*/

span.shadow{
    left: 2.3%;
    top: 100px;
}
.home{
z-index: 2;
position: absolute;
left: 2.8%;
top: 13%;
bottom: 83.2%;
border-radius: 3px;
}
.home:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 10px;
    transition: 5s;
}

.home:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}

.transactions {
    z-index: 1;
  
    
    position: absolute;
    width: 31.69px;
    height: 32.5px;
    left: 2.8%;
    top: 22%;
    
    }
    .transactions:active{
        position: absolute;
        left: 0%;
        top: 0%;
        width: 90px;
        height: fit-content;
        background: #D9D9D9;
        border-radius: 10px;
        transition: 5s;
    }
    
.transactions:hover{
        
        background-blend-mode: color-dodge ;
        width: 50px;
        left: 2%;
        height: fit-content;
        border-radius: 10px;
    }    


.budget{
z-index: 1;


position: absolute;
width: 34.12px;
height: 33.31px;
left: 2.8%;
top: 31%;


}
.budget:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 40px;
    transition: 5s;
}

.budget:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}
.goal{
z-index: 1;


position: absolute;
width: 31.69px;
height: 31.69px;
left: 2.8%;
top: 40%;


}
.goal:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 40px;
    transition: 5s;
}

.goal:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}



.bill{
z-index: 1;
position: absolute;
width: 27.62px;
height: 34.12px;
left: 2.8%;
top: 49%;
}

.bill:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 40px;
    transition: 5s;
}

.bill:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}

.dashboard{
    z-index: 1;
     
  position: absolute;
  width: 33.31px;
  height: 33.31px;
  left: 2.8%;
  top: 58%;
  }

  .dashboard:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 40px;
    transition: 5s;
}

.dashboard:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}


  .user{
    z-index: 1;
    
    
    position: absolute;
    width: 33.5px;
    height: 34.12px;
    left:2.8%;
    top: 67%;
    }
    .user:active{
        position: absolute;
        left: 0%;
        top: 0%;
        width: 90px;
        height: fit-content;
        background: #D9D9D9;
        border-radius: 40px;
        transition: 5s;
    }
    
    .user:hover{
        
        background-blend-mode: color-dodge ;
        width: 50px;
        left: 2%;
        height: fit-content;
        border-radius: 10px;
    }

  
.settings{
z-index: 1;


position: absolute;
width: 30.88px;
height: 30.88px;
left: 2.8%;
top: 76%;


}

.settings:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 40px;
    transition: 5s;
}

.settings:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}
.logout{
    z-index: 1;
    

position: absolute;
width: 30.88px;
height: 27.62px;
left: 2.8%;
top: 85%;


    }

.logout:active{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90px;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 40px;
    transition: 5s;
}

.logout:hover{
    
    background-blend-mode: color-dodge ;
    width: 50px;
    left: 2%;
    height: fit-content;
    border-radius: 10px;
}

.trans{
    top: 0px;
    left: 0px;
    width: 1300px;
    height: fit-content;
}
button{
/* create a new budget */

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.14em;
text-transform: capitalize;

color: #000000;

/* Rectangle 1361 */

position: absolute;
width: 236.6px;
height: 35.22px;
left: 157.56px;
top: 271.17px;

background: #FFFFFF;
border-radius: 10px;


}